*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 106, 251);
}
.registeration{
    position: relative;
    max-width: 700px;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 26px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}

.registeration header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    text-align: center;
}
.registeration .form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: #333;

}
.input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    margin-top: 6px;
}
.gender-box{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 1rem;
    gap: 10px;
}
.register-btn{
    height: 50px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    outline: none;
   background-color: rgb(130, 106, 251);
   border: 1px solid #ddd;
   border-radius: 6px;
}
.reg-box{
    width: 100%;
    margin-top: 20px;
}